@import './base.css';

#app {
  /*max-width: 1280px;*/
  width: 100%;
  margin: 0 auto;

  font-weight: normal;
}
body, html{
  overflow-x:hidden !important;
}
a,
.blue {
  text-decoration: none;
  color: hsl(207, 90%, 54%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items:flex-start;
  }


}
