@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    body{
        @apply bg-pagebg text-md;
    }
    .notification {
        margin: 0 auto;
    }

    .notification__bell {
        top: 40%;
        transform: translateY(-50%);
        transform-origin: 50% 0%;
        border-radius: 28px 28px 0 0;
        margin: 0 auto;
    }

    .notification__bell:before, .notification__bell:after {
        content: "";
        background-color: inherit;
        @apply absolute;
    }

    .notification__bell:before {
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        content: "";
        width: 140%;
        height: 30%;
        top: 70%;
        left: -20%;
        background: inherit;
    }

    .notification__bell:after {
        border-bottom-right-radius: 1100px;
        border-bottom-left-radius: 1100px;
        width: 50%;
        height: 25%;
        top: 108%;
        left: 25%;
    }

    .notification__badge {
        transform: scale(1);
        width: 9px;
        height: 9px;
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .notification.alert .notification__badge {
        animation: 0.3s 1 badge-pop cubic-bezier(0.42, 1.59, 0.54, 0.61);
        animation-fill-mode: both;
    }

    .notification.alert .notification__bell {
        animation: 0.3s 1 bell-shake linear;
        animation-fill-mode: both;
    }

    .notification.alert .notification__bell:after {
        animation-delay: 0.1s;
        animation: 0.2s 2 ringer ease-out;
        animation-fill-mode: both;
    }

    @keyframes badge-pop {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1) translateY(-2px);
        }
    }
    @keyframes bell-shake {
        0% {
            transform: rotate(0deg) translateY(-50%);
        }
        25% {
            transform: rotate(-45deg) translateY(-50%);
        }
        50% {
            transform: rotate(0deg) translateY(-50%);
        }
        75% {
            transform: rotate(45deg) translateY(-50%);
        }
        100% {
            transform: rotate(0deg) translateY(-50%);
        }
    }
    @keyframes ringer {
        0% {
            left: 25%;
        }
        25% {
            left: 0;
        }
        75% {
            left: 60%;
        }
        10% {
            left: 25%;
        }
    }

    .checkbox__indicator{
        @apply relative w-auto;
    }
    .checkbox{
        @apply w-5;
    }
    .checkbox__indicator:after {
        content: "";
        position: absolute;
        left: 4px;
        top: -10px;
        width: 7px;
        height: 10px;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
        border-right: 3px solid white;
        border-top: 3px solid white;
        display: none;
        pointer-events:none;
    }
    .checkbox input:checked ~ .checkbox__indicator {
       @apply bg-white;
    }
    .checkbox input:checked ~ .checkbox__indicator:after {
        animation: check 125ms;
        @apply block border-t-2 border-white border-r-2;
    }
    .navigation-container a {
        @apply  flex items-center mx-2 px-3 py-3 hover:bg-hoverthird rounded-md transition ease-in-out text-md;
    }
    .navigation-container a p {
        @apply text-blue-500 font-semibold min-w-[200px];
    }
    .navigation-container .custom-logout{
        @apply  flex items-center mx-2 px-3 py-3 hover:bg-hoverthird rounded-md transition ease-in-out text-md;
    }
    .navigation-container  p {
        @apply text-blue-500 font-semibold min-w-[200px];
    }
    .button-logout span {
        @apply text-blue-300 font-semibold min-w-[200px];
    }
    .navigation-container img{
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .button-secondary {
        @apply bg-secondary text-black rounded-md xl:px-4 xl:py-2 bg-opacity-30 font-semibold xl:text-base text-xs px-3 py-0.5;
    }
    .button-secondary:hover {
        @apply bg-opacity-100 text-white;
    }
   input.inputcheckbox {
        @apply relative appearance-none h-5 w-5 border border-primary rounded-sm bg-white checked:bg-primary checked:border-primary focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat  cursor-pointer;
    }
    .outline-light-button{
        @apply border-white border rounded-md text-white font-semibold pl-3 pr-12 py-2 flex;
    }
    .button-outline-secondary {
        @apply border-secondary border text-secondary rounded-md xl:px-4 xl:py-1.5 font-semibold xl:text-sm text-xs px-3 py-0.5 hover:bg-secondary hover:text-white transition;
    }
    .button-outline-third {
        @apply border-third border text-third rounded-md xl:px-4 xl:py-1.5 font-semibold xl:text-sm text-xs px-3 py-0.5 hover:bg-third hover:text-white transition;
    }
    .button-full-third-big {
        @apply text-white rounded-md xl:px-8 xl:py-3 font-semibold px-6 py-1 transition;
    }
    html {
        font-family: Inter;
    }

    .buzz-out-on-hover:hover img:first-child, .buzz-out-on-hover:focus img:first-child, .buzz-out-on-hover:active img:first-child{
        -webkit-animation-name: buzz-out-on-hover;
        animation-name: buzz-out-on-hover;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    @-webkit-keyframes buzz-out-on-hover {
        50% {
            -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
        }
        100% {
            -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
        }
    }
    @keyframes buzz-out-on-hover {
        50% {
            -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
        }
        100% {
            -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
        }
    }
    .button-logout:hover img{
        -webkit-animation-name: buzz-out-on-hover;
        animation-name: buzz-out-on-hover;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    @-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }

    .button_save_animation{
        -webkit-animation: buttonbgcolor 0.9s ease-in-out;
        animation: buttonbgcolor 0.9s ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes buttonbgcolor {
        0% {
            background-color: #00AF80;
        }
        90% {
            background-color: #00AF80;
        }
        100% {
            background-color: grey;
        }
    }

    .save_animation{
        display:block;
    }
    .custom-save-svg .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        stroke:white;
    }
    .save_animation .path.circle {
        -webkit-animation: dash 0.9s ease-in-out;
        animation: dash 0.9s ease-in-out;
    }
    .save_animation  .path.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
        animation: dash 0.9s 0.35s ease-in-out forwards;
    }
    .save_animation .path.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
        animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }
    .buzz-out-on-hover .ticket-count{
        @apply text-[11px];
    }
    .buzz-out-on-hover:hover .ticket-count{
        @apply scale-110;
    }
    .navigation-container .dropdown-sub-item{
        @apply font-normal;
    }
    .input-style-custom input, .input-style-custom select{
        @apply h-10 w-full text-primary rounded-md text-sm px-4 font-medium outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:ring-2 focus:ring-third border border-border;
    }
    .input-style-custom label{
        @apply block w-full pb-1 text-xs text-gray1 transition-all duration-200 ease-in-out;
    }
    .btn-pulse {
        box-shadow: 0 0 0 8px transparent;
        animation: pulse 1s;
        animation-iteration-count: 4;
    }

    @keyframes pulse {
        from {
            box-shadow: 0 0 0 0 #42A5F5;
        }
    }
}
